/* CourseList.css */

.course-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjust as needed */
  gap: 40px; /* Adjust the gap between cards */
  align-items: stretch; /* Ensure cards stretch to the same height */
  justify-content: center; /* Center the cards horizontally */
}
